<template>
  <div class="hello">
    <input 
      id="left" 
      v-model="left">
    <select 
      id="operator" 
      v-model="operator">
      <option>+</option>
      <option>*</option>
    </select>
    <input 
      id="right" 
      v-model="right">
    =
    <span id="result">{{ result }}</span>
  </div>
</template>

<script>
export default {
  name: 'Calculator',
  data() {
    return {
      left: 0,
      right: 0,
      operator: '+'
    };
  },
  computed: {
    result: function () {
      if (this.operator == '+') {
        return parseFloat(this.left) + parseFloat(this.right);
      } else if (this.operator === '*') {
        return parseFloat(this.left) * parseFloat(this.right);
      } else {
        throw new Error('Unknown operator ' + this.operator);
      }
    }
  }
};
</script>

<style>
</style>
